# List

In [1]:
temps = [48.0, 30.5, 20.2, 100.0, 42.0] # 5 float values
inventory = ["staff", "hat", "shoes"]   # 3 str values
movie = ["The Holy Grail", 1975, 9.99]  # str, int, float
test_scores = []                        # an empty list

In [2]:
scores = [0] * 5

In [3]:
scores

[0, 0, 0, 0, 0]

In [4]:
temps = [48.0, 30.5, 20.2, 100.0, 42.0]

In [5]:
print(temps[0])
print(temps[1])
print(temps[2])
print(temps[3])
print(temps[4])

48.0
30.5
20.2
100.0
42.0

In [6]:
print(temps[-5])
print(temps[-4])
print(temps[-3])
print(temps[-2])
print(temps[-1])

48.0
30.5
20.2
100.0
42.0

In [7]:
inventory = ["staff", "hat", "shoes", "bread", "potion", "scroll"]

In [8]:
item = inventory[5]
print(item)

scroll

In [9]:
item = inventory[3]
print(item)

bread

In [10]:
#item = inventory[6]
#print(item)

# The append(), insert(), and remove() methods

In [11]:
stats = [48.0, 30.5, 20.2, 100.0]

In [12]:
inventory = ["staff", "hat", "shoes", "bread", "potion"]

In [13]:
inventory.insert(3, "robe")

In [14]:
inventory

['staff', 'hat', 'shoes', 'robe', 'bread', 'potion']

In [15]:
inventory.remove("shoes")

In [16]:
inventory

['staff', 'hat', 'robe', 'bread', 'potion']

In [17]:
inventory = ["staff", "hat", "robe", "bread"]

In [18]:
inventory

['staff', 'hat', 'robe', 'bread']

In [19]:
item = inventory.pop()

In [20]:
item

'bread'

In [21]:
inventory

['staff', 'hat', 'robe']

In [22]:
item = inventory.pop(1)

In [23]:
item

'hat'

In [24]:
inventory

['staff', 'robe']

In [25]:
inventory = ["staff", "hat", "robe", "bread"]

In [26]:
i = inventory.index("hat")

In [27]:
i

1

In [28]:
inventory.pop(i)

'hat'

In [29]:
inventory

['staff', 'robe', 'bread']

In [30]:
inventory = ["staff", "hat", "bread", "potion"]

In [31]:
inventory

['staff', 'hat', 'bread', 'potion']

In [32]:
item = "bread"
if item in inventory:
    inventory.remove(item)

In [33]:
inventory

['staff', 'hat', 'potion']

In [34]:
inventory = ["staff", "hat", "shoes"]

In [35]:
for item in inventory:
    print(item)

staff
hat
shoes

## How to process the items in a list

In [36]:
scores = [70, 80, 90, 100]
total = 0

### With a for loop

In [37]:
for score in scores:
    total += score

In [38]:
print(total)

340

### With a while loop

In [39]:
scores = [70, 80, 90, 100]
total = 0
i = 0

In [40]:
while i < len(scores):
    total += scores[i]
    i += 1

In [41]:
print(total)

340

In [42]:
def double_the_number(value):
    value = value * 2 
    return value

In [43]:
value1 = 25

In [44]:
value2 = double_the_number(value1)

In [45]:
print(value1)

25

In [46]:
print(value2)

50

In [47]:
def add_to_list(list, item):
    list.append(item)

In [48]:
# list object created
inventory = ["staff", "hat", "bread"]

In [49]:
add_to_list(inventory, "robe")

In [50]:
inventory

['staff', 'hat', 'bread', 'robe']

## How to define a list of listsâ€¦

In [51]:
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 80, 85]]

In [52]:
print(students)

[['Joel', 85, 95, 70], ['Anne', 95, 100, 100], ['Mike', 77, 70, 80, 85]]

In [53]:
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

In [54]:
movie = []                          # Create empty movie

In [55]:
movie.append("The Kite Runner") # Add name to movie
movie.append(2007)                  # Add year to movie
movie.append(7.6)                   # Add price to movie

In [56]:
movie

['The Kite Runner', 2007, 7.6]

In [57]:
movies.append(movie)

In [58]:
movies

[['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['The Kite Runner', 2007, 7.6]]

In [59]:
movies[0][0]

'The Holy Grail'

In [60]:
movies[0][2]

9.99

In [61]:
movies[0][3]

IndexError: list index out of range

In [62]:
movies[1][0]

'Life of Brian'

In [63]:
movies[3][0]

'The Kite Runner'

In [64]:
for movie in movies:
    for item in movie:
        print(item)
    print()

The Holy Grail
1975
9.99

Life of Brian
1979
12.3

The Meaning of Life
1983
7.5

The Kite Runner
2007
7.6

In [65]:
for movie in movies:
    for item in movie:
        print(item, end=" | ")
    print()

The Holy Grail | 1975 | 9.99 |
Life of Brian | 1979 | 12.3 |
The Meaning of Life | 1983 | 7.5 |
The Kite Runner | 2007 | 7.6 |

## Other more list methods

In [66]:
numlist = [5, 15, 84, 3, 14, 2, 8, 10, 14, 25]

In [67]:
count = numlist.count(14)

In [68]:
count

2

In [69]:
numlist.reverse()

In [70]:
numlist

[25, 14, 10, 8, 2, 14, 3, 84, 15, 5]

In [71]:
numlist.sort()

In [72]:
numlist

[2, 3, 5, 8, 10, 14, 14, 15, 25, 84]

In [73]:
foodlist = ["orange", "apple", "Pear", "banana"]

In [74]:
print(foodlist)

['orange', 'apple', 'Pear', 'banana']

In [75]:
foodlist.sort()

In [76]:
print(foodlist)

['Pear', 'apple', 'banana', 'orange']

In [77]:
foodlist.sort(key=str.lower)

In [78]:
foodlist

['apple', 'banana', 'orange', 'Pear']

In [79]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

## How to use the min() and max() functions

In [80]:
numlist = [5, 15, 84, 3, 14, 2, 8, 10, 14, 25]

In [81]:
minimum = min(numlist)

In [82]:
minimum

2

In [83]:
maximum = max(numlist)

In [84]:
maximum

84

## How to use the choice() and shuffle() functions

In [85]:
import random

In [86]:
numlist = [5, 15, 84, 3, 14, 2, 8, 10, 14]

In [87]:
choice = random.choice(numlist)

In [88]:
choice

8

In [89]:
random.shuffle(numlist)

In [90]:
numlist

[2, 14, 84, 3, 8, 10, 15, 14, 5]

## How to make a shallow copy of a list

In [91]:
list_one = [1, 2, 3, 4, 5]

In [92]:
list_two = list_one

In [93]:
list_two[1] = 4

In [94]:
print(list_one)

[1, 4, 3, 4, 5]

In [95]:
print(list_two)

[1, 4, 3, 4, 5]

## How to make a deep copy of a list

In [96]:
import copy
list_one = [1, 2, 3, 4, 5]
list_two = copy.deepcopy(list_one)
list_two[1] = 4

In [97]:
print(list_one)

[1, 2, 3, 4, 5]

In [98]:
print(list_two)

[1, 4, 3, 4, 5]

## How to slice a list

In [99]:
numbers = [52, 54, 56, 58, 60, 62]

In [100]:
numbers[0:2]

[52, 54]

In [101]:
numbers[:2]

[52, 54]

In [102]:
numbers[4:]

[60, 62]

In [103]:
numbers[0:4:2]

[52, 56]

In [104]:
numbers[::-1]

[62, 60, 58, 56, 54, 52]

## How to concatenate two lists with the + and += operators

In [105]:
inventory = ["staff", "robe"]
chest = ["scroll", "pestle"]

In [106]:
combined = inventory + chest

In [107]:
combined

['staff', 'robe', 'scroll', 'pestle']

In [108]:
inventory += chest

In [109]:
inventory

['staff', 'robe', 'scroll', 'pestle']

# How to create a tuple

In [110]:
stats = (48.0, 30.5, 20.2, 100.0, 48.0)

In [111]:
herbs = ("lavender", "pokeroot", "chamomile", 
         "valerian", "nettles", "oatstraw")

In [112]:
movie = ("Monty Python and the Holy Grail", 1975, 9.99)

In [113]:
herbs[0]

'lavender'

In [114]:
herbs[-1]

'oatstraw'

In [115]:
herbs[1:4]

('pokeroot', 'chamomile', 'valerian')

In [116]:
tuple_values = (1, 2, 3)

In [117]:
a, b, c = tuple_values

In [118]:
a

1

In [119]:
b

2

In [120]:
c

3