In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'id':[100, 101, 102], 'colour':['red', 'blue', 'red']})

    id colour
0  100    red
1  101   blue
2  102    red

In [3]:
pd.DataFrame({'id':[100, 101, 102], 'colour':['red', 'blue', 'red']}, columns = ['id', 'colour'])

    id colour
0  100    red
1  101   blue
2  102    red

In [4]:
pd.DataFrame({'id':[100, 101, 102], 'colour':['red', 'blue', 'red']}, columns = ['colour', 'id'])

  colour   id
0    red  100
1   blue  101
2    red  102

In [5]:
pd.DataFrame({'id':[100, 101, 102], 'colour':['red', 'blue', 'red']}, columns = ['id', 'colour'], index=['a', 'b', 'c'])

    id colour
a  100    red
b  101   blue
c  102    red

In [6]:
df = pd.DataFrame({'id':[100, 101, 102], 'colour':['red', 'blue', 'red']}, columns = ['id', 'colour'], index=['a', 'b', 'c'])

In [7]:
df

    id colour
a  100    red
b  101   blue
c  102    red

In [8]:
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns = ['id', 'colour'])

    id colour
0  100    red
1  101   blue
2  102    red

In [9]:
import numpy as np

In [10]:
arr = np.random.rand(4, 2)

In [11]:
arr

array([[0.15985797, 0.96836561],
       [0.20456468, 0.49795564],
       [0.90058172, 0.7272236 ],
       [0.93239049, 0.95315783]])

In [12]:
pd.DataFrame(arr)

          0         1
0  0.159858  0.968366
1  0.204565  0.497956
2  0.900582  0.727224
3  0.932390  0.953158

In [13]:
pd.DataFrame(arr, columns = ['one','two'])

        one       two
0  0.159858  0.968366
1  0.204565  0.497956
2  0.900582  0.727224
3  0.932390  0.953158

In [14]:
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)})

   student  test
0      100    94
1      101    97
2      102    85
3      103    77
4      104    86
5      105    92
6      106    85
7      107    78
8      108    76
9      109    70

In [15]:
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)}).set_index('student')

         test
student
100        63
101        88
102        85
103        92
104        77
105        78
106        82
107        92
108        99
109        81

In [16]:
pd.Series(['round','square'], index=['c', 'b'], name='shape')

c     round
b    square
Name: shape, dtype: object

In [17]:
s = pd.Series(['round','square'], index=['c', 'b'], name='shape')

In [18]:
s

c     round
b    square
Name: shape, dtype: object

In [19]:
df

    id colour
a  100    red
b  101   blue
c  102    red

In [20]:
pd.concat([df])

    id colour
a  100    red
b  101   blue
c  102    red

In [21]:
pd.concat([df, s], axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    id colour   shape
a  100    red     NaN
b  101   blue  square
c  102    red   round

In [22]:
#Current behaviour
pd.concat([df, s], axis=1, sort=True)

    id colour   shape
a  100    red     NaN
b  101   blue  square
c  102    red   round

In [23]:
#Future behavior
pd.concat([df, s], axis=1, sort=False)

    id colour   shape
a  100    red     NaN
b  101   blue  square
c  102    red   round